@use "sass:map";
@use "@/styles/colors.scss" as *; // as * supaya variabelnya langsung bisa dipakai

.navbar {
  background-color: map.get($schema, primary);
  // background-color: map.get($schema, 'primary');  <-- pakai string aman juga
  color: var(--background);
  padding: 1rem;
}
